.wavelength {
	width: 70px;
	height: 60px;
	padding: 13px;
	border: 1px solid black;
	color: white;
	font-weight: bold;
	float:left;
	margin: 22px 50px 22px 0px;
	font-size: 17px;
}

.wavelength a{
	width:72px;
	height:72px;
}

#red {
	background-color: red;
}

#orange {
	background-color: orange;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
}

#blue {
	background-color: blue;
}

#purple {
	background-color: purple;
}

.container {
	width: 500px;
	
}

img {
	position: relative;
	bottom: 90px;
	left: 70px;
}

 