/*

Pattern of style definition
selector { 
	property1: value1;
	property2: value2;
}

*/

a:link {
	color: blue;
}

a:visited {
	color: red;
}

a:hover {
	color: black;
}

a:active {
	color: pink;
}

h1 {
	text-decoration: overline underline;
	text-align: center;
	font-family: Sans-Serif;
	font-style: oblique;
	font-weight: bold;
}

#wrapper {
		width:500px;
}

body {
	font-family: Arial;
	background-image: url("/img/paisley.png"); 
	width: 250px;
	padding: 20px 300px;
	border: 50px;
	margin: 5px;
}

#wrapper {
	max-width: 500px;
}

.websites {
	color:red;
}

.languages {
	color:pink;
}

.bigtext {
	font-size:26px;
}

li { 
	color:purple;
}

/* can apply multiple css props to one div ex:
class="bigtext languages"
*/

.LAMP-stack h2 {
	font-size: em;
	color: green;
	text-decoration: underline;  
}

#wrapper>h2 {
	color: red;
	text-decoration: underline;
}

.food h2 {
	color:blue;
}

.quote h2 {
	text-decoration: overline underline;
}

ol { list-style: square; 
}

.bigtext { font-size: 30px;

}

.languages { text-decoration: underline;

}
















