#flag1 {
    width: 350px;
    height: 200px;
    text-align: center;
    line-height: 100px;
    border: 1px solid #bbb;
    margin: 10px;
    position: relative;
    background: #fff;
}

#flag1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background: #00f;
    width: 33%;
    z-index: 4;
}
#flag1:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background: #f00;
    width: 33%;
    z-index: 4;
}

#flag1 {
    position: relative;
    font-size: 55px;
    color: #999;
    z-index: 16;
}

#flag2 {
    width: 350px;
    height: 200px;
    border: 1px solid #bbb;
    margin: 10px;
    position: relative;
    background: green;
}

#flag2:before {
    content:"";
    position: absolute;
    left: 119px;
    bottom:0;
    top: 0;
    background: #fff;
    width: 33%;
    z-index: 4;
}

#flag2:after {
    content:"";
    position: absolute;
    right:0;
    bottom: 0;
    top: 0;
    background: orange;
    width: 33%;
    z-index:4;
}

#flag2 {
    position: relative;
    font-size: 55px;
    color: blue;
    z-index: 16;
}

#flag3 {
    width: 350px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    position: relative;
    background: black;

}

#flag3:before {
    content:"";
    position: absolute;
    left: 119px;
    bottom:0;
    top: 0;
    background: red;
    height: 33%;
    z-index: 4;
}

#flag3:after {
    content:"";
    position: absolute;
    right:0;
    bottom:0;
    top: 0;
    background: yellow;
    height: 33%;
    z-index: 4;
}

#flag3:{
    position: relative;
    font-size: 55px;
    color: blue;
    z-index: 16;
}



