p {
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}

body {
	margin: 10px;
	background-image: url(/img/nat_parks.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#next {
	position: absolute;
	right: 10px;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: grey;
}

table{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.pager{
	color:red;
	margin-left: -80px;
}

form, button {
	margin: 10px;
	font-weight: bold;
	text-align: center;
	font-weight: bold;
	color: black;
}

.anchorHolder{
	text-align:center;
}




