/*css info for calculator...*/


.h1 {
	/*margin: 100px;
	font-color: green;*/
}

/*I want to make my buttons change color when they are pressed... for example how would I change the color of the number 6 after it has been pressed? */


.table-bordered {
	margin: 100px;
	border: 100px;
	padding: 100px;
	background: black;	
}

.display {
	padding-bottom: 10px;
}

#left, #right, #equals {
	width: 100px;
	height: 40px;
	float: center;
	margin: 10px;
	float: left;
	background-color: orange;
	text-align: right;
}

#middle {
	width: 100px;
	height: 40px;
	float: center;
	margin: 10px;
	float: left;
	background-color: orange;
	text-align: center;
}

#middle[type="text"]{
	font-size: 28px;
}

.numbers {
	width: 100px;
	float: left;
	margin: 10px;
	font-size: 20px
}

#clear, #equalButton {
	width: 100px;
	float: left;
	margin: 10px;
	font-size: 20px;
	color:red;
}

.operators {
	width: 100px;
	float: left;
	margin: 10px;
	font-size: 20px;
	color:black;
	font-weight: bold;
}



